<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Document</title>
    <link rel="stylesheet" href="tst.css">
</head>

<body>
    <div id="container">
        <div class="box">
            <button class="outline box-button" type="button" href="asd.html">
                <div class="label">
                    <span class="hover-effect"></span>
                    <span class="label-text"><img src="micro.png" alt=""></span>
                </div>
            </button>
            <button class="outline box-button" type="button" href="asd.html">
                <div class="label">
                    <span class="hover-effect"></span>
                    <span class="label-text"><img src="micro.png" alt=""></span>
                </div>
            </button>
            <button class="outline box-button" type="button" href="asd.html">
                <div class="label">
                    <span class="hover-effect"></span>
                    <span class="label-text"><img src="lightning.png" alt=""></span>
                </div>
            </button>

        </div>
    </div>
</body>

</html>