<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="tst2.css">
</head>

<body>
  <div class="card-body">
    <label class="card-radio-btn">
      <input type="radio" name="demo" class="card-input-element d-none" value="lightning"">
        <div class=" card-cable card-body">
      <div class="content-body"><img src="lightning.png" alt=""></div>
  </div>
  </label>
  <label class="card-radio-btn">
    <input type="radio" name="demo" class="card-input-element d-none" value="micro">
    <div class="card-cable card-body">
      <div class="content-body"><img src="micro.png" alt=""></div>
    </div>
  </label>
  <label class="card-radio-btn">
    <input type="radio" name="demo" class="card-input-element d-none" value="demo2">
    <div class="card-cable card-body">
      <div class="content-body"><img src="type-c.png" alt=""></div>
    </div>
  </label>
  </div>
</body>

</html>